<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneClick_defender.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OneClick_defender.My.MySettings.viruslistConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\viruslist.accdb;Jet OLEDB:Database Password=Sri.2363#"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <OneClick_defender.My.MySettings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="key" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="image" serializeAs="String">
                <value />
            </setting>
            <setting name="status" serializeAs="String">
                <value />
            </setting>
        </OneClick_defender.My.MySettings>
    </userSettings>
</configuration>
